body {
    margin: 0;
}

p {
    margin: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#left {
    background-color: #DDDDDD;
    flex-basis: 20%;
}

#right {
    background-color: #EFEFEF;
    flex-grow: 1;
}

h2 {
    text-align: center ;
}

#content {
    display: flex;
    flex-direction: column;
}

.todoitem {
    background-color: white;
    margin: 8px;
    padding: 5px;
    border: solid 3px #BBBBBB;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.infobar {
    display: flex;
}

.duedate {
    margin-right: 10px;
}