body {
    margin: 0;
}

p {
    margin: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#left {
    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;
    flex-basis: 20%;
    overflow: auto;
}

#right {
    background-color: #EFEFEF;
    flex-grow: 1;
    overflow: auto;
}

h2 {
    text-align: center ;
}

#content {
    display: flex;
    flex-direction: column;
}

#projectsContainer {
    display: flex;
    flex-direction: column;
}

.todoitem {
    background-color: white;
    margin: 8px;
    padding: 5px;
    border: solid 3px #BBBBBB;
    border-radius: 5px;
}

.todoitem:hover {
    background-color: lightgrey;
}

#formContainer {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
}

.formDiv {
    background-color: #EFEFEF;
    width: 400px;
    height: 250px;
}

.project {
    background-color: lightblue;
    margin: 8px;
    padding: 5px;
    border: solid 3px #BBBBBB;
    border-radius: 5px;
    text-align: center;
}

.project:hover {
    background-color: gold;
}

.selectedProject {
    border-color: black;
    background-color: rgb(96, 158, 179);
}

#addProject {
    font-weight: bold;
    align-self: center;
    background-color: lightgreen;
}

#removeProjectButton {
    background-color: lightcoral;
    margin: 8px;
    padding: 5px;
    border: solid 3px #BBBBBB;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#addTodoButton {
    background-color: lightgreen;
    margin: 8px;
    padding: 5px;
    border: solid 3px #BBBBBB;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.infoBar {
    display: flex;
}

.todoCollapse {
    display: none;
}